{% extends "base.html" %}
{% load static %}
{% block title %}
	Scores on the doors | Home
{% endblock title %}

{% block content %}


{% if user.is_authenticated  %}
    <!--IF USER IS LOGEDIN-->

	<!--HERO SECTION START-->
	<div class="container px-4 py-5 my-5 text-center my_hero" style="background-image: url('{% static 'images/nets1.jpg' %});">
		<div class="content overlay">
			
		
			<div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center"> 
				<a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'predicts:predicts-home'%}" role="button">Current Games</a>
				<a class="btn btn-primary btn-lg px-4" href="{% url 'predicts:user_predictions'%}" role="button">My Predictions</a>
				<a class="btn btn-primary btn-lg px-4" href="{% url 'leagues:leagues-home' %}" role="button">Leagues</a>
				<a class="btn btn-primary btn-lg px-4" href="{% url 'leagues:league-old-points' %}" role="button">Stats</a>
			</div>
		</div>
		
	</div>
	<!--HERO SECTION END-->

	<!--RULE SECTION START-->

	<section id="reules">
		<div class="container">
			    <!-- Center the content using Bootstrap container -->
				<div class="container">
					<h1 class="text-center">Football Prediction Point System</h1>
					<p class="text-center">Rules for predicting football match scores and goal scorers:</p>
			
					<div class="table-responsive">
						<table class="table table-bordered table-striped mx-auto">
							<thead>
								<tr>
									<th>Prediction Type</th>
									<th>Points</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Correct Full-Time Score</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Correct Winning Team or Draw</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Correct First Goal Scorer</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Correct Anytime Goal Scorer (except the first goal)</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
					</div>
			
					<p class="text-center">Number of Weekly Predictions:</p>
					<ul class="list-unstyled mx-auto">
						<li>Users can predict from 3 to 6 games each week.</li>
						<li>If there are Champions League matches available, users can make one additional prediction each
							week.</li>
					</ul>
			
					<p class="text-center">Monthly Points Calculation:</p>
					<ul class="list-unstyled mx-auto">
						<li>Sum up the points earned by the user from all predictions made in a month.</li>
						<li>Assign monthly points based on the following scale:</li>
					</ul>
			
					<div class="table-responsive">
						<table class="table table-bordered table-striped mx-auto">
							<thead>
								<tr>
									<th>Monthly Rank</th>
									<th>Points</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st place</td>
									<td>25</td>
								</tr>
								<tr>
									<td>2nd place</td>
									<td>18</td>
								</tr>
								<tr>
									<td>3rd place</td>
									<td>15</td>
								</tr>
								<tr>
									<td>4th place</td>
									<td>12</td>
								</tr>
								<tr>
									<td>5th place</td>
									<td>10</td>
								</tr>
								<tr>
									<td>6th place</td>
									<td>8</td>
								</tr>
								<tr>
									<td>7th place</td>
									<td>6</td>
								</tr>
								<tr>
									<td>8th place</td>
									<td>4</td>
								</tr>
								<tr>
									<td>9th place</td>
									<td>2</td>
								</tr>
								<tr>
									<td>10th place</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		
	</section>

	<!--RULE SECTION END-->


    {% comment %} <div class="container bg-light">
        <h1 class="text-center mt-5 ">scoresonthedoor.uk</h1>
        <h2 class="text-center mt-3">Welcome</h2>
        <img src="{% static 'images/nets1.jpg' %}" alt="" class="img-fluid ">
    </div> {% endcomment %}
{% else %}
    <!--IF USER IS NOT LOGEDIN-->
    <div class="container mt-3">
		{% comment %} <h1 class="fs-3 text-center mt-4 mx-3 bg-primary text-light p-1 rounded-pill"> Scores On The Doors</h1> {% endcomment %}
        
		<div class="card mx-auto mt-3 shadow" style="width: 18rem;">
			<img src="https://images.unsplash.com/photo-1579952363873-27f3bade9f55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
			<div class="card-body d-grid">
			  {% comment %} <h5 class="card-title text-center fs-2 mb-4">WELCOME</h5> {% endcomment %}
			  {% comment %} <p class="card-text fw-bold text-center mb-4">Please go to your email and confirm your email address by click activation link from email to complete the registration</p> {% endcomment %}
			  <a href="{% url 'authentication:login' %}" class="btn btn-primary">Login</a>
			  <p class="mt-2 text-center">Don't have an account?<br> Register <a href="{% url 'authentication:signup' %}">here</a></p>
			</div>
		  </div>
        
		  
    </div>
{% endif %}



{% endblock content %}