
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        {{form.email.errors}}
        {{form.email|as_crispy_field}}
        <button class="btn btn-primary btn-block mb-4" type="submit">Reset password</button>
    </form>
</div>

{% endblock %}