{% extends 'base.html' %}
{% block title %}
  {{league.name}} 
{% endblock title %}

{% block content %}
    {% comment %} <h1 class="text-center mt-5 mb-3">{{league.name}}</h1> {% endcomment %}
    

  
    <div class="container-sm">
      <h1 class="fs-3 text-center mt-4 mx-3 bg-primary text-light p-1 rounded-pill">{{league.name}}</h1>
      <div class="row">
        <div class="col">
          <div class="table-container">
            <table class="table mt-3 table-striped table-hover" id="userStatsTable">
              <thead>
                  <tr>
                      <th scope="col">Username</th>
                      <th scope="col">No of Pred.</th>
                      <th scope="col">Pts.</th>
                      <th scope="col">Avg Pts.</th>
                      <th scope="col">6</th>
                      <th scope="col">4</th>
                      <th scope="col">3</th>
                      <th scope="col">2</th>
                      <th scope="col">1</th>
                      <th scope="col">0</th>
                  </tr>
              </thead>
              <tbody>
                {% for user_stats in league.old_points %}
                  {% if user_stats.total_predictions_by_user <= league.average_predictions_per_user %}
                    <tr>
                      <td class="d-grid">
                        <a class="btn btn-primary btn-sm d-flex align-items-center" href="{% url 'predicts:user_prediction_list' user_stats.user__username %}" style="white-space: nowrap;">
                          {{ user_stats.user__username }}
                          
                          <!-- Display the appropriate cards based on prediction count -->
                          {% if user_stats.total_predictions_by_user <= below_25_percent %}
                            <!-- Red card tooltip -->
                            <span data-bs-toggle="tooltip" title="Below 25% of total predictions">
                              <svg width="12" height="12" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="ms-2">
                                <path d="M6.81836 0.605469H3.182C2.42888 0.605469 1.81836 1.21599 1.81836 1.96911V8.02956C1.81836 8.78268 2.42888 9.3932 3.182 9.3932H6.81836C7.57148 9.3932 8.182 8.78268 8.182 8.02956V1.96911C8.182 1.21599 7.57148 0.605469 6.81836 0.605469Z" fill="#DD3636"/>
                              </svg>
                            </span>
                          {% elif user_stats.total_predictions_by_user <= below_40_percent %}
                            <!-- Two yellow cards tooltip -->
                            <span data-bs-toggle="tooltip" title="Below 40% of total predictions">
                              <svg width="12" height="12" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="ms-2">
                                <path d="M6.81836 0.605469H3.182C2.42888 0.605469 1.81836 1.21599 1.81836 1.96911V8.02956C1.81836 8.78268 2.42888 9.3932 3.182 9.3932H6.81836C7.57148 9.3932 8.182 8.78268 8.182 8.02956V1.96911C8.182 1.21599 7.57148 0.605469 6.81836 0.605469Z" fill="#FFC107"/>
                              </svg>
                              <svg width="12" height="12" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="">
                                <path d="M6.81836 0.605469H3.182C2.42888 0.605469 1.81836 1.21599 1.81836 1.96911V8.02956C1.81836 8.78268 2.42888 9.3932 3.182 9.3932H6.81836C7.57148 9.3932 8.182 8.78268 8.182 8.02956V1.96911C8.182 1.21599 7.57148 0.605469 6.81836 0.605469Z" fill="#FFC107"/>
                              </svg>
                            </span>
                          {% else %}
                            <!-- One yellow card tooltip -->
                            <span data-bs-toggle="tooltip" title="Below average predictions">
                              <svg width="12" height="12" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="ms-2">
                                <path d="M6.81836 0.605469H3.182C2.42888 0.605469 1.81836 1.21599 1.81836 1.96911V8.02956C1.81836 8.78268 2.42888 9.3932 3.182 9.3932H6.81836C7.57148 9.3932 8.182 8.78268 8.182 8.02956V1.96911C8.182 1.21599 7.57148 0.605469 6.81836 0.605469Z" fill="#FFC107"/>
                              </svg>
                            </span>
                          {% endif %}
                        </a>
                      </td>
                      <td>{{ user_stats.total_predictions_by_user }}</td>
                      <td>{{ user_stats.total_points }}</td>
                      <td>{{ user_stats.avg_points_per_user }}</td>
                      <td>{{ user_stats.points_6 }}</td>
                      <td>{{ user_stats.points_4 }}</td>
                      <td>{{ user_stats.points_3 }}</td>
                      <td>{{ user_stats.points_2 }}</td>
                      <td>{{ user_stats.points_1 }}</td>
                      <td>{{ user_stats.points_0 }}</td>
                    </tr>
                  {% else %}
                    <tr>
                      <td class="d-grid"><a class="btn btn-primary btn-sm" href="{% url 'predicts:user_prediction_list' user_stats.user__username %}">{{ user_stats.user__username }}</a></td>
                      <td>{{ user_stats.total_predictions_by_user }}</td>
                      <td>{{ user_stats.total_points }}</td>
                      <td>{{ user_stats.avg_points_per_user }}</td>
                      <td>{{ user_stats.points_6 }}</td>
                      <td>{{ user_stats.points_4 }}</td>
                      <td>{{ user_stats.points_3 }}</td>
                      <td>{{ user_stats.points_2 }}</td>
                      <td>{{ user_stats.points_1 }}</td>
                      <td>{{ user_stats.points_0 }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
              
          </table>
          </div>
        </div>
      </div>
        

        
          <div class="d-flex justify-content-between mt-4">
              <small>Created: {{league.create_date}}</small>
              <small>Admin: {{league.admin}}</small>
              <small>PIN: {{league.pin}}</small>
          </div>
          <div class="d-flex  mt-4">
              <small>
                <span>
                  <svg width="12" height="12" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="ms-2">
                    <path d="M6.81836 0.605469H3.182C2.42888 0.605469 1.81836 1.21599 1.81836 1.96911V8.02956C1.81836 8.78268 2.42888 9.3932 3.182 9.3932H6.81836C7.57148 9.3932 8.182 8.78268 8.182 8.02956V1.96911C8.182 1.21599 7.57148 0.605469 6.81836 0.605469Z" fill="#FFC107"/>
                  </svg>
                </span>for below of average of league predictions (currently: {{average_predictions}})
              </small>

              <small>
                <span>
                  <svg width="12" height="12" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="ms-2">
                    <path d="M6.81836 0.605469H3.182C2.42888 0.605469 1.81836 1.21599 1.81836 1.96911V8.02956C1.81836 8.78268 2.42888 9.3932 3.182 9.3932H6.81836C7.57148 9.3932 8.182 8.78268 8.182 8.02956V1.96911C8.182 1.21599 7.57148 0.605469 6.81836 0.605469Z" fill="#FFC107"/>
                  </svg>
                  <svg width="12" height="12" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="">
                    <path d="M6.81836 0.605469H3.182C2.42888 0.605469 1.81836 1.21599 1.81836 1.96911V8.02956C1.81836 8.78268 2.42888 9.3932 3.182 9.3932H6.81836C7.57148 9.3932 8.182 8.78268 8.182 8.02956V1.96911C8.182 1.21599 7.57148 0.605469 6.81836 0.605469Z" fill="#FFC107"/>
                  </svg>
                </span>for below 40% of total predictions (currently: {{below_40_percent}})
              </small>

              <small>
                <span>
                  <svg width="12" height="12" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="ms-2">
                  <path d="M6.81836 0.605469H3.182C2.42888 0.605469 1.81836 1.21599 1.81836 1.96911V8.02956C1.81836 8.78268 2.42888 9.3932 3.182 9.3932H6.81836C7.57148 9.3932 8.182 8.78268 8.182 8.02956V1.96911C8.182 1.21599 7.57148 0.605469 6.81836 0.605469Z" fill="#DD3636"/>
                  </svg>
                </span> for below 25% of total predictions (currently: {{below_25_percent}})
              </small>
          </div>
          <div class="info mt-3">
            <p class="">League info/rules:</p>
            <small>{{league.rules|linebreaks}}</small>
          </div>
    </div>




  <!-- DataTables CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

<style>
  /* Custom CSS for styling */
  .table-container {
    overflow-x: auto;
  }
</style>

<script>
    $(document).ready( function () {
        $('#userStatsTable').DataTable({
            "paging": false,  // Disable pagination
            "searching": false,  // Disable search bar
            "order": [
              [3, 'desc'],
              [1, 'desc'],
              [4, 'desc'],
              [5, 'desc'],
              [6, 'desc'],
              [7, 'desc'],
              [8, 'desc'], // First column sorted in descending order
              ]  
        });
    });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>

{% endblock content %}