{% extends 'base.html' %}

{% block content %}
<div class="continer">
    <h1>league details</h1>
</div>
    {{league}}
    {{table}}


    <h1 class="text-center mt-5 mb-3">{{league.name}}</h1>


    <div class="container-sm">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            <tbody>
                {% for user in table %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                {% comment %} <td>{{user.name}}</td> {% endcomment %}
                <td><a href="../../predictions/{{user.name}}">{{user.name}}</a></td>
                <td>{{user.points}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="d-flex justify-content-between">
              <small>Created: {{league.create_date}}</small>
              <small>PIN: {{league.pin}}</small>
          </div>
          <div class="info mt-3">
            <p class="">League info/rules:</p>
            <small>{{league.rules|linebreaks}}</small>
          </div>
    </div>
{% endblock content %}