{% extends 'base.html' %}
{% block title %}
    Leagues | Home
{% endblock title %}

{% block content %}
<div class="container mt-4">
        

        <h1 class="fs-3 text-center mt-4 mx-3 bg-primary text-light p-1 rounded-pill">Leagues</h1>

        <a class="btn btn-primary mb-3" href="join">Join league</a> 
        <a class="btn btn-primary mb-3" href="create">Create new league</a>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <br>
        <ul class="list-group">
            {% for league in leagues %}
        
            
        
                {% if league.name == 'MASTER LEAGUE' %}
                    <li class="list-group-item">
                    <a href="/leagues/{{league.id}}">{{league.name}}</a>
                </li>
                {% else %}
                <li class="list-group-item d-flex justify-content-between">
                    <a href="/leagues/{{league.id}}">{{league.name}}</a>
                    <div class="buttons">
                        {% if league.admin == user %}
                            <a href="{{league.id}}/delete" class="btn btn-danger">Delete</a>
                        {% endif %}
                        <a href="leave/{{league.id}}" class="btn btn-warning">Leave</a>
                    </div>
                    
                    
                </li>
                {% endif %}
        
                
            {% endfor %}
        </ul>
</div>
{% include "footer.html" %}
{% endblock content %}